### control-center

### log directory
LOG_DIR=""

### java home
# JAVA_HOME="/usr/lib/jvm/java-11"
# JAVA_HOME="/usr/lib/jvm/java-1.8.0"
# JAVA_HOME="/usr/lib/jvm/zulu11"
# JAVA_HOME="/usr/lib/jvm/zulu8"
JAVA_HOME=""

### memory options
CONTROL_CENTER_HEAP_OPTS=" \
-Xms6g -Xmx6g \
"

### performance
CONTROL_CENTER_JVM_PERFORMANCE_OPTS=" \
-server \
-XX:+UseConcMarkSweepGC \
-XX:+CMSClassUnloadingEnabled \
-XX:+CMSScavengeBeforeRemark \
-XX:+DisableExplicitGC \
-XX:MaxInlineLevel=15 \
-Djava.awt.headless=true \
"
# -XX:+UseG1GC \
# -XX:MaxGCPauseMillis=20 \
# -XX:InitiatingHeapOccupancyPercent=35 \
# -XX:+ExplicitGCInvokesConcurrent \
# -XX:ParallelGCThreads= \
# -XX:ConcGCThreads= \

### generic jvm settings
CONTROL_CENTER_OPTS=" \
-D${SERVER_NAME} \
"

### gc option
GC_LOG_ENABLED="true"

### jmx
# JMX_PORT=""
CONTROL_CENTER_JMX_OPTS=" \
-Dcom.sun.management.jmxremote \
-Dcom.sun.management.jmxremote.authenticate=false \
-Dcom.sun.management.jmxremote.ssl=false \
"

### log4j
CONTROL_CENTER_LOG4J_OPTS=" \
-Dlog4j.configuration=file:${CONFLUENT_HOME}/log4j/control-center-log4j.properties \
"
