### kafka

### log directory
LOG_DIR=""

### java home
# JAVA_HOME="/usr/lib/jvm/java-11"
# JAVA_HOME="/usr/lib/jvm/java-1.8.0"
# JAVA_HOME="/usr/lib/jvm/zulu11"
# JAVA_HOME="/usr/lib/jvm/zulu8"
JAVA_HOME=""

### memory options
KAFKA_HEAP_OPTS=" \
-Xms1g -Xmx1g \
"

### performance
KAFKA_JVM_PERFORMANCE_OPTS=" \
-server \
-XX:+UseG1GC \
-XX:MaxGCPauseMillis=20 \
-XX:InitiatingHeapOccupancyPercent=35 \
-XX:+ExplicitGCInvokesConcurrent \
-XX:MaxInlineLevel=15 \
-Djava.awt.headless=true \
"
# -XX:ParallelGCThreads= \
# -XX:ConcGCThreads= \

### generic jvm settings
KAFKA_OPTS=" \
-D${SERVER_NAME} \
-javaagent:${CONFLUENT_HOME}/prometheus/jmx_prometheus_javaagent-0.15.0.jar=1234:${CONFLUENT_HOME}/prometheus/kafka_broker.yml \
"

### gc option
GC_LOG_ENABLED="true"

### jmx
# JMX_PORT=""
KAFKA_JMX_OPTS=" \
-Dcom.sun.management.jmxremote \
-Dcom.sun.management.jmxremote.authenticate=false \
-Dcom.sun.management.jmxremote.ssl=false \
"

### log4j
KAFKA_LOG4J_OPTS=" \
-Dlog4j.configuration=file:${CONFLUENT_HOME}/log4j/kafka-log4j.properties \
"
