[user]
    name = <name>
    email = <email>
    signingKey = <signingKey>
[gpg]
    format = openpgp
    program = gpg
[commit]
    gpgSign = true
[merge]
    ff = false
[pull]
    ff = true
[tag]
    gpgsign = true
    forceSignAnnotated = true
[gpg "ssh"]
    program = ssh-keygen
    allowedSignersFile = ""
[credential]
    helper = cache --timeout=3600
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[core]
    autocrlf = input
    excludesfile = ~/properties/git/.gitignore_global
    hooksPath = ~/properties/git/hooks/personal
[includeIf "gitdir:~/source/workrepos/"]
    path = ~/properties/git/config/work/.gitconfig
