[user]
    name = <name>
    email = <email>
    signingKey = <signingKey>
[init]
    defaultBranch = main
[gpg]
    format = openpgp
    program = gpg
[commit]
    gpgSign = true
[merge]
    ff = false
    conflictStyle = zdiff3
[tag]
    gpgSign = true
    forceSignAnnotated = true
[gpg "ssh"]
    program = ssh-keygen
    allowedSignersFile = ""
[credential]
    helper = cache --timeout=3600
[core]
    pager = delta
    autocrlf = input
    excludesfile = ~/properties/personal/git/.gitignore_global
    hooksPath = ~/properties/personal/git/hooks
[interactive]
    diffFilter = delta --color-only
[delta]
    dark = true
    navigate = true
    hunk-header-style = line-number
    hunk-header-decoration-style = omit
[includeIf "gitdir:~/source/workrepos/"]
    path = ~/properties/work/git/.gitconfig
[includeIf "gitdir:~/source/subrepos/"]
    path = ~/properties/work/git/.gitconfig
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[credential "https://github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential

