.vs/
.vscode/
.idea/

__pycache__/
.pytest_cache/
venv/

node_modules/
/package.json
/package-lock.json

temp/
temp.*
*-temp.*

nohup.*

*.crt
*.csr
*.jar
*.jks
*.key
*.log
*.p12
*.pem
*.srl
*.tar
*.tar.gz
*.tgz
*.zip
