.vs/
.vscode/
.idea/

__pycache__/
.pytest_cache/
venv/

temp/
temp.*

nohup.*

*.jar
*.log
*.tar
*.tar.gz
*.tgz
*-temp.*
*.zip

/cassandra/operator/cassandra-operator/
/git/gitlab/helm/gitlab/
/helm/chartmuseum/chartmuseum/
/istio/addon/certs/
/istio/addon/istio/
kafka/apicurio/helm/apicurio-registry
/kafka/cmak/cmak-*/
/kafka/burrow/docker-compose/Burrow/
/kafka/confluent/helper/env/
/kafka/confluent/helper/packages/
/kafka/confluent/helper/output/
/kafka/confluent/helper/rendered-values.yaml
/kafka/confluent/kubernetes/confluent-operator/
/kafka/strimzi/strimzi-*/
/kubernetes/descheduler/descheduler/
/kubernetes/kubespray/kubespray/
/language/java/pinpoint/docker-compose/pinpoint-docker/
/minio/operator/operator/
/oracledb/docker/docker-images/
/others/backstage/backstage/
/others/kraken/kraken/
/prometheus/operator/kube-prometheus/
/rook/operator/rook/
/security/openldap/kustomize/base/
/temp/
/tomcat/kustomize/.git/
/tomcat/kustomize/.gitattributes
/tomcat/kustomize/.gitignore
/tomcat/log4j/apache-log4j-*-bin/
