.vs/
.vscode/
.idea/

venv/
__pycache__/

temp/
temp.*

*.jar
*.tar
*.tar.gz
*.tgz
*-temp.*
*.zip

/istio/addon/certs/
/kafka/cmak/cmak-*/
/kafka/confluent/helper/packages/
/kafka/confluent/helper/properties/
/kafka/confluent/helper/scripts/
/kafka/confluent/kubernetes/confluent-operator/
/kafka/debezium/
/kafka/strimzi/strimzi-*/
/kubernetes/kubespray/kubespray/
/minio/operator/operator/
/oracledb/docker-images/
/others/kraken/kraken/
/rook/rook/
/temp/
/tomcat/log4j/apache-log4j-*-bin/
