      file:
      {# properties #}
        {% if server.file and server.file.properties %}
        properties: {{ server.file.properties }}
        {% else %}
        properties: {{ server.serverName }}.properties
        {% endif %}
      {# start #}
        {% if server.file and server.file.start %}
        start: {{ server.file.start }}
        {% else %}
        start: start-{{ server.serverName }}.sh
        {% endif %}
      {# stop #}
        {% if server.file and server.file.stop %}
        stop: {{ server.file.stop }}
        {% else %}
        stop: stop-{{ server.serverName }}.sh
        {% endif %}
      {# log #}
        {% if server.file and server.file.log %}
        log: {{ server.file.log }}
        {% else %}
        log: log-{{ server.serverName }}.sh
        {% endif %}
      {# service #}
        {% if server.file and server.file.service %}
        service: {{ server.file.service }}
        {% else %}
        service: override-{{ server.serverName }}-service.sh
        {% endif %}
      {# serviceEnv #}
        {% if server.file and server.file.serviceEnv %}
        serviceEnv: {{ server.file.serviceEnv }}
        {% else %}
        serviceEnv: {{ server.serverName }}-service.env
        {% endif %}
