{% if kafkaRest is defined %}
kafkaRest:
  common:
    {% if kafkaRest.common.stopScript is defined %}
    stopScript: {{ kafkaRest.common.stopScript }}
    {% else %}
    stopScript: {{ defaultKafkaRestStopScript }}
    {% endif %}
    param:
    {# logDir #}
      logDir: {{ kafkaRest.common.param.logDir }}
    {# bootstrapServers #}
      {% if kafkaRest.common.param.bootstrapServers is defined %}
      bootstrapServers: {{ kafkaRest.common.param.bootstrapServers }}
      {% else %}
      {% if kafka.servers is defined %}
      bootstrapServers: {% for server in kafka.servers -%}
      PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# schemaRegistryUrl #}
      {% if kafkaRest.common.param.schemaRegistryUrl is defined %}
      schemaRegistryUrl: {{ kafkaRest.common.param.schemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry.servers is defined %}
      schemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      schemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}

  servers:
    {% for server in kafkaRest.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName is defined %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# ipAddress #}
      ipAddress: {{ server.ipAddress }}
    {# serverId #}
      serverId: {{ server.serverId }}
      paramOverride:
      {# logDir #}
        {% if server.paramOverride is defined and server.paramOverride.logDir is defined %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride is defined and server.paramOverride.bootstrapServers is defined %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
      {# schemaRegistryUrl #}
        {% if server.paramOverride is defined and server.paramOverride.schemaRegistryUrl is defined %}
        schemaRegistryUrl: {{ server.paramOverride.schemaRegistryUrl }}
        {% else %}
        # schemaRegistryUrl:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
