{% if kafka %}
{% set component = kafka %}
kafka:
  common:
    {% set stopScript = component.common.stopScript if component.common.stopScript
        else defaultKafkaStopScript %}
    stopScript: {{ stopScript }}
    param:
    {# dataDir #}
      dataDir: {{ component.common.param.dataDir }}
    {# logDir #}
      logDir: {{ component.common.param.logDir }}
    {# listeners #}
      {% if component.common.param.listeners %}
      listeners: {{ component.common.param.listeners }}
      {% else %}
      listeners: PLAINTEXT://0.0.0.0:{{ defaultKafkaListenPort }}
      {% endif %}
    {# zookeeperConnect #}
      {% if component.common.param.zookeeperConnect %}
      zookeeperConnect: {{ component.common.param.zookeeperConnect }}
      {% else %}
      {% if zookeeper and zookeeper.servers %}
      zookeeperConnect: {% for server in zookeeper.servers -%}
      {{ server.serverName }}:{{ defaultZookeeperClientPort }}
      {%- if not loop.last -%},{% endif %}
      {%- if loop.last -%}{{ defaultZookeeperZNode }}{% endif %}
      {% endfor %}
      {% else %}
      zookeeperConnect:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# metricsReporterBootstrapServers #}
      {% if component.common.param.metricsReporterBootstrapServers %}
      metricsReporterBootstrapServers: {{ component.common.param.metricsReporterBootstrapServers }}
      {% else %}
      {% if kafka and kafka.servers %}
      metricsReporterBootstrapServers: {% for server in component.servers -%}
      {{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      metricsReporterBootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}

  servers:
    {% for server in component.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# hostAddress #}
      hostAddress: {{ server.hostAddress }}
    {# sshPort #}
      {% if server.sshPort %}
      sshPort: {{ server.sshPort }}
      {% else %}
      sshPort: {{ defaultSshPort }}
      {% endif %}
    {# serverId #}
      serverId: {{ server.serverId }}
    {# advertisedListeners #}
      {% if server.advertisedListeners %}
      advertisedListeners: {{ server.advertisedListeners }}
      {% else %}
      advertisedListeners: PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}
      {% endif %}
      paramOverride:
      {# dataDir #}
        {% if server.paramOverride and server.paramOverride.dataDir %}
        dataDir: {{ server.paramOverride.dataDir }}
        {% else %}
        # dataDir:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride and server.paramOverride.logDir %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# listeners #}
        {% if server.paramOverride and server.paramOverride.listeners %}
        listeners: {{ server.paramOverride.listeners }}
        {% else %}
        # listeners:
        {% endif %}
      {# zookeeperConnect #}
        {% if server.paramOverride and server.paramOverride.zookeeperConnect %}
        zookeeperConnect: {{ server.paramOverride.zookeeperConnect }}
        {% else %}
        # zookeeperConnect:
        {% endif %}
      {# metricsReporterBootstrapServers #}
        {% if server.paramOverride and server.paramOverride.metricsReporterBootstrapServers %}
        metricsReporterBootstrapServers: {{ server.paramOverride.metricsReporterBootstrapServers }}
        {% else %}
        # metricsReporterBootstrapServers:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
