{% if kafkaConnect %}
{% set component = kafkaConnect %}
kafkaConnect:
  common:
    {% set stopScript = component.common.stopScript if component.common.stopScript
        else defaultKafkaConnectStopScript %}
    stopScript: {{ stopScript }}
    param:
    {# logDir #}
      logDir: {{ component.common.param.logDir }}
    {# groupId #}
      groupId: {{ component.common.param.groupId }}
    {# listenAddress #}
      {% if component.common.param.listenAddress %}
      listenAddress: {{ component.common.param.listenAddress }}
      {% else %}
      listenAddress: 0.0.0.0
      {% endif %}
    {# listenPort #}
      {% set listenPort = component.common.param.listenPort if component.common.param.listenPort
          else defaultKafkaConnectListenPort %}
      listenPort: {{ listenPort }}
    {# bootstrapServers #}
      {% if component.common.param.bootstrapServers %}
      bootstrapServers: {{ component.common.param.bootstrapServers }}
      {% else %}
      {% if kafka and kafka.servers %}
      bootstrapServers: {% for server in kafka.servers -%}
      PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# keyConverterSchemaRegistryUrl #}
      {% if component.common.param.keyConverterSchemaRegistryUrl %}
      keyConverterSchemaRegistryUrl: {{ component.common.param.keyConverterSchemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry and schemaRegistry.servers %}
      keyConverterSchemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      keyConverterSchemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# valueConverterSchemaRegistryUrl #}
      {% if component.common.param.valueConverterSchemaRegistryUrl %}
      valueConverterSchemaRegistryUrl: {{ component.common.param.valueConverterSchemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry and schemaRegistry.servers %}
      valueConverterSchemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      valueConverterSchemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# configStorageTopic #}
      {% set configStorageTopic = component.common.param.configStorageTopic if component.common.param.configStorageTopic
          else defaultKafkaConnectConfigStorageTopic %}
      configStorageTopic: {{ configStorageTopic }}
    {# offsetStorageTopic #}
      {% set offsetStorageTopic = component.common.param.offsetStorageTopic if component.common.param.offsetStorageTopic
          else defaultKafkaConnectOffsetStorageTopic %}
      offsetStorageTopic: {{ offsetStorageTopic }}
    {# statusStorageTopic #}
      {% set statusStorageTopic = component.common.param.statusStorageTopic if component.common.param.statusStorageTopic
          else defaultKafkaConnectStatusStorageTopic %}
      statusStorageTopic: {{ statusStorageTopic }}
    {# pluginPath #}
      {% if component.common.param.pluginPath %}
      pluginPath: {{ component.common.param.pluginPath }}
      {% else %}
      pluginPath: {{ base.confluentHome }}/share/java,{{ base.confluentHome }}/share/confluent-hub-components
      {% endif %}

  servers:
    {% for server in component.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# hostAddress #}
      hostAddress: {{ server.hostAddress }}
    {# sshPort #}
      {% if server.sshPort %}
      sshPort: {{ server.sshPort }}
      {% else %}
      sshPort: {{ defaultSshPort }}
      {% endif %}
    {# advertisedListenAddress #}
      {% if server.advertisedListenAddress %}
      advertisedListenAddress: {{ server.advertisedListenAddress }}
      {% else %}
      advertisedListenAddress: {{ server.serverName }}
      {% endif %}
    {# advertisedListenPort #}
      {% if server.advertisedListenPort %}
      advertisedListenPort: {{ server.advertisedListenPort }}
      {% else %}
      advertisedListenPort: {{ defaultKafkaConnectListenPort }}
      {% endif %}
      paramOverride:
      {# groupId #}
        {% if server.paramOverride and server.paramOverride.groupId %}
        groupId: {{ server.paramOverride.groupId }}
        {% else %}
        # groupId:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride and server.paramOverride.logDir %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# listenAddress #}
        {% if server.paramOverride and server.paramOverride.listenAddress %}
        listenAddress: {{ server.paramOverride.listenAddress }}
        {% else %}
        # listenAddress:
        {% endif %}
      {# listenPort #}
        {% if server.paramOverride and server.paramOverride.listenPort %}
        listenPort: {{ server.paramOverride.listenPort }}
        {% else %}
        # listenPort:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride and server.paramOverride.bootstrapServers %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
      {# keyConverterSchemaRegistryUrl #}
        {% if server.paramOverride and server.paramOverride.keyConverterSchemaRegistryUrl %}
        keyConverterSchemaRegistryUrl: {{ server.paramOverride.keyConverterSchemaRegistryUrl }}
        {% else %}
        # keyConverterSchemaRegistryUrl:
        {% endif %}
      {# valueConverterSchemaRegistryUrl #}
        {% if server.paramOverride and server.paramOverride.valueConverterSchemaRegistryUrl %}
        valueConverterSchemaRegistryUrl: {{ server.paramOverride.valueConverterSchemaRegistryUrl }}
        {% else %}
        # valueConverterSchemaRegistryUrl:
        {% endif %}
      {# configStorageTopic #}
        {% if server.paramOverride and server.paramOverride.configStorageTopic %}
        configStorageTopic: {{ server.paramOverride.configStorageTopic }}
        {% else %}
        # configStorageTopic:
        {% endif %}
      {# offsetStorageTopic #}
        {% if server.paramOverride and server.paramOverride.offsetStorageTopic %}
        offsetStorageTopic: {{ server.paramOverride.offsetStorageTopic }}
        {% else %}
        # offsetStorageTopic:
        {% endif %}
      {# statusStorageTopic #}
        {% if server.paramOverride and server.paramOverride.statusStorageTopic %}
        statusStorageTopic: {{ server.paramOverride.statusStorageTopic }}
        {% else %}
        # statusStorageTopic:
        {% endif %}
      {# pluginPath #}
        {% if server.paramOverride and server.paramOverride.pluginPath %}
        pluginPath: {{ server.paramOverride.pluginPath }}
        {% else %}
        # pluginPath:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
