{% if kafkaRest %}
{% set component = kafkaRest %}
kafkaRest:
  common:
    {% set stopScript = component.common.stopScript if component.common.stopScript
        else defaultKafkaRestStopScript %}
    stopScript: {{ stopScript }}
    param:
    {# logDir #}
      logDir: {{ component.common.param.logDir }}
    {# listeners #}
      {% if component.common.param.listeners %}
      listeners: {{ component.common.param.listeners }}
      {% else %}
      listeners: http://0.0.0.0:{{ defaultKafkaRestListenPort }}
      {% endif %}
    {# bootstrapServers #}
      {% if component.common.param.bootstrapServers %}
      bootstrapServers: {{ component.common.param.bootstrapServers }}
      {% else %}
      {% if kafka and kafka.servers %}
      bootstrapServers: {% for server in kafka.servers -%}
      PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# schemaRegistryUrl #}
      {% if component.common.param.schemaRegistryUrl %}
      schemaRegistryUrl: {{ component.common.param.schemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry and schemaRegistry.servers %}
      schemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      schemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}

  servers:
    {% for server in component.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# hostAddress #}
      hostAddress: {{ server.hostAddress }}
    {# sshPort #}
      {% if server.sshPort %}
      sshPort: {{ server.sshPort }}
      {% else %}
      sshPort: {{ defaultSshPort }}
      {% endif %}
    {# serverId #}
      serverId: {{ server.serverId }}
    {# advertisedListeners #}
      {% if server.advertisedListeners %}
      advertisedListeners: {{ server.advertisedListeners }}
      {% else %}
      advertisedListeners: http://{{ server.serverName }}:{{ defaultKafkaRestListenPort }}
      {% endif %}
      paramOverride:
      {# logDir #}
        {% if server.paramOverride and server.paramOverride.logDir %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# listeners #}
        {% if server.paramOverride and server.paramOverride.listeners %}
        listeners: {{ server.paramOverride.listeners }}
        {% else %}
        # listeners:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride and server.paramOverride.bootstrapServers %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
      {# schemaRegistryUrl #}
        {% if server.paramOverride and server.paramOverride.schemaRegistryUrl %}
        schemaRegistryUrl: {{ server.paramOverride.schemaRegistryUrl }}
        {% else %}
        # schemaRegistryUrl:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
