{% if ksqlDb is defined %}
ksqlDb:
  common:
    {% if ksqlDb.common.stopScript is defined %}
    stopScript: {{ ksqlDb.common.stopScript }}
    {% else %}
    stopScript: {{ defaultKsqlDbStopScript }}
    {% endif %}
    param:
    {# dataDir #}
      dataDir: {{ ksqlDb.common.param.dataDir }}
    {# logDir #}
      logDir: {{ ksqlDb.common.param.logDir }}
    {# groupId #}
      groupId: {{ ksqlDb.common.param.groupId }}
    {# listeners #}
      {% if ksqlDb.common.param.listeners is defined %}
      listeners: {{ ksqlDb.common.param.listeners }}
      {% else %}
      listeners: http://0.0.0.0:{{ defaultKsqlDbListenPort }}
      {% endif %}
    {# bootstrapServers #}
      {% if ksqlDb.common.param.bootstrapServers is defined %}
      bootstrapServers: {{ ksqlDb.common.param.bootstrapServers }}
      {% else %}
      {% if kafka.servers is defined %}
      bootstrapServers: {% for server in kafka.servers -%}
      {{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# schemaRegistryUrl #}
      {% if ksqlDb.common.param.schemaRegistryUrl is defined %}
      schemaRegistryUrl: {{ ksqlDb.common.param.schemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry.servers is defined %}
      schemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      schemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}

  servers:
    {% for server in ksqlDb.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName is defined %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# ipAddress #}
      ipAddress: {{ server.ipAddress }}
    {# advertisedListener #}
      {% if server.advertisedListener is defined %}
      advertisedListener: {{ server.advertisedListener }}
      {% else %}
      advertisedListener: http://{{ server.serverName }}:{{ defaultKsqlDbListenPort }}
      {% endif %}
      paramOverride:
      {# groupId #}
        {% if server.paramOverride is defined and server.paramOverride.groupId is defined %}
        groupId: {{ server.paramOverride.groupId }}
        {% else %}
        # groupId:
        {% endif %}
      {# dataDir #}
        {% if server.paramOverride is defined and server.paramOverride.dataDir is defined %}
        dataDir: {{ server.paramOverride.dataDir }}
        {% else %}
        # dataDir:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride is defined and server.paramOverride.logDir is defined %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# listeners #}
        {% if server.paramOverride is defined and server.paramOverride.listeners is defined %}
        listeners: {{ server.paramOverride.listeners }}
        {% else %}
        # listeners:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride is defined and server.paramOverride.bootstrapServers is defined %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
      {# schemaRegistryUrl #}
        {% if server.paramOverride is defined and server.paramOverride.schemaRegistryUrl is defined %}
        schemaRegistryUrl: {{ server.paramOverride.schemaRegistryUrl }}
        {% else %}
        # schemaRegistryUrl:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
