{% if replicator is defined %}
replicator:
  common:
    {% if replicator.common.stopScript is defined %}
    stopScript: {{ replicator.common.stopScript }}
    {% else %}
    stopScript: {{ defaultReplicatorStopScript }}
    {% endif %}
    param:
    {# logDir #}
      logDir: {{ replicator.common.param.logDir }}
    {# groupId #}
      groupId: {{ replicator.common.param.groupId }}
    {# bootstrapServers #}
      {% if replicator.common.param.bootstrapServers is defined %}
      bootstrapServers: {{ replicator.common.param.bootstrapServers }}
      {% else %}
      {% if kafka.servers is defined %}
      bootstrapServers: {% for server in kafka.servers -%}
      PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# keyConverterSchemaRegistryUrl #}
      {% if replicator.common.param.keyConverterSchemaRegistryUrl is defined %}
      keyConverterSchemaRegistryUrl: {{ replicator.common.param.keyConverterSchemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry.servers is defined %}
      keyConverterSchemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      keyConverterSchemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# valueConverterSchemaRegistryUrl #}
      {% if replicator.common.param.valueConverterSchemaRegistryUrl is defined %}
      valueConverterSchemaRegistryUrl: {{ replicator.common.param.valueConverterSchemaRegistryUrl }}
      {% else %}
      {% if schemaRegistry.servers is defined %}
      valueConverterSchemaRegistryUrl: {% for server in schemaRegistry.servers -%}
      http://{{ server.serverName }}:{{ defaultSchemaRegistryListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      valueConverterSchemaRegistryUrl:
      {% endif %}
      {% endif %}
      {{ '' }}
    {# configStorageTopic #}
      {% if replicator.common.param.configStorageTopic is defined %}
      configStorageTopic: {{ replicator.common.param.configStorageTopic }}
      {% else %}
      configStorageTopic: {{ defaultReplicatorConfigStorageTopic }}
      {% endif %}
    {# offsetStorageTopic #}
      {% if replicator.common.param.offsetStorageTopic is defined %}
      offsetStorageTopic: {{ replicator.common.param.offsetStorageTopic }}
      {% else %}
      offsetStorageTopic: {{ defaultReplicatorOffsetStorageTopic }}
      {% endif %}
    {# statusStorageTopic #}
      {% if replicator.common.param.statusStorageTopic is defined %}
      statusStorageTopic: {{ replicator.common.param.statusStorageTopic }}
      {% else %}
      statusStorageTopic: {{ defaultReplicatorStatusStorageTopic }}
      {% endif %}
    {# pluginPath #}
      {% if replicator.common.param.pluginPath is defined %}
      pluginPath: {{ replicator.common.param.pluginPath }}
      {% else %}
      pluginPath: {{ base.confluentHome }}/share/java,{{ base.confluentHome }}/share/confluent-hub-components
      {% endif %}

  servers:
    {% for server in replicator.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName is defined %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# ipAddress #}
      ipAddress: {{ server.ipAddress }}
      paramOverride:
      {# groupId #}
        {% if server.paramOverride is defined and server.paramOverride.groupId is defined %}
        groupId: {{ server.paramOverride.groupId }}
        {% else %}
        # groupId:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride is defined and server.paramOverride.logDir is defined %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride is defined and server.paramOverride.bootstrapServers is defined %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
      {# keyConverterSchemaRegistryUrl #}
        {% if server.paramOverride is defined and server.paramOverride.keyConverterSchemaRegistryUrl is defined %}
        keyConverterSchemaRegistryUrl: {{ server.paramOverride.keyConverterSchemaRegistryUrl }}
        {% else %}
        # keyConverterSchemaRegistryUrl:
        {% endif %}
      {# valueConverterSchemaRegistryUrl #}
        {% if server.paramOverride is defined and server.paramOverride.valueConverterSchemaRegistryUrl is defined %}
        valueConverterSchemaRegistryUrl: {{ server.paramOverride.valueConverterSchemaRegistryUrl }}
        {% else %}
        # valueConverterSchemaRegistryUrl:
        {% endif %}
      {# configStorageTopic #}
        {% if server.paramOverride is defined and server.paramOverride.configStorageTopic is defined %}
        configStorageTopic: {{ server.paramOverride.configStorageTopic }}
        {% else %}
        # configStorageTopic:
        {% endif %}
      {# offsetStorageTopic #}
        {% if server.paramOverride is defined and server.paramOverride.offsetStorageTopic is defined %}
        offsetStorageTopic: {{ server.paramOverride.offsetStorageTopic }}
        {% else %}
        # offsetStorageTopic:
        {% endif %}
      {# statusStorageTopic #}
        {% if server.paramOverride is defined and server.paramOverride.statusStorageTopic is defined %}
        statusStorageTopic: {{ server.paramOverride.statusStorageTopic }}
        {% else %}
        # statusStorageTopic:
        {% endif %}
      {# pluginPath #}
        {% if server.paramOverride is defined and server.paramOverride.pluginPath is defined %}
        pluginPath: {{ server.paramOverride.pluginPath }}
        {% else %}
        # pluginPath:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
