{% if schemaRegistry %}
{% set component = schemaRegistry %}
schemaRegistry:
  common:
    {% set stopScript = component.common.stopScript if component.common.stopScript
        else defaultSchemaRegistryStopScript %}
    stopScript: {{ stopScript }}
    param:
    {# logDir #}
      logDir: {{ component.common.param.logDir }}
    {# groupId #}
      {% set groupId = component.common.param.groupId if component.common.param.groupId
          else defaultSchemaRegistryGroupId %}
      groupId: {{ groupId }}
    {# listeners #}
      {% if component.common.param.listeners %}
      listeners: {{ component.common.param.listeners }}
      {% else %}
      listeners: http://0.0.0.0:{{ defaultSchemaRegistryListenPort }}
      {% endif %}
    {# bootstrapServers #}
      {% if component.common.param.bootstrapServers %}
      bootstrapServers: {{ component.common.param.bootstrapServers }}
      {% else %}
      {% if kafka and kafka.servers %}
      bootstrapServers: {% for server in kafka.servers -%}
      PLAINTEXT://{{ server.serverName }}:{{ defaultKafkaListenPort }}{%- if not loop.last -%},{% endif %}
      {% endfor %}
      {% else %}
      bootstrapServers:
      {% endif %}
      {% endif %}
      {{ '' }}

  servers:
    {% for server in component.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# hostAddress #}
      hostAddress: {{ server.hostAddress }}
    {# sshPort #}
      {% if server.sshPort %}
      sshPort: {{ server.sshPort }}
      {% else %}
      sshPort: {{ defaultSshPort }}
      {% endif %}
      paramOverride:
      {# groupId #}
        {% if server.paramOverride and server.paramOverride.groupId %}
        groupId: {{ server.paramOverride.groupId }}
        {% else %}
        # groupId:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride and server.paramOverride.logDir %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# listeners #}
        {% if server.paramOverride and server.paramOverride.listeners %}
        listeners: {{ server.paramOverride.listeners }}
        {% else %}
        # listeners:
        {% endif %}
      {# bootstrapServers #}
        {% if server.paramOverride and server.paramOverride.bootstrapServers %}
        bootstrapServers: {{ server.paramOverride.bootstrapServers }}
        {% else %}
        # bootstrapServers:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
