{# ###################################################################### #}
{% set defaultSshPort = '22' %}
{# zookeeper #}
{% set defaultZookeeperStopScript = 'stop-zookeeper.sh' %}
{% set defaultZookeeperClientPort = '2181' %}
{% set defaultZookeeperLeaderPort = '2888' %}
{% set defaultZookeeperLeaderElectionPort = '3888' %}
{% set defaultZookeeperZNode = '/clusterlocal' %}
{# kafka #}
{% set defaultKafkaStopScript = 'stop-kafka.sh' %}
{% set defaultKafkaListenPort = '9092' %}
{# schema-registry #}
{% set defaultSchemaRegistryStopScript = 'stop-schema-registry.sh' %}
{% set defaultSchemaRegistryGroupId = 'schema-cluster' %}
{% set defaultSchemaRegistryListenPort = '8081' %}
{# kafka-connect #}
{% set defaultKafkaConnectStopScript = 'stop-kafka-connect.sh' %}
{% set defaultKafkaConnectListenPort = '8083' %}
{% set defaultKafkaConnectConfigStorageTopic = 'connect-configs' %}
{% set defaultKafkaConnectOffsetStorageTopic = 'connect-offsets' %}
{% set defaultKafkaConnectStatusStorageTopic = 'connect-status' %}
{# replicator #}
{% set defaultReplicatorStopScript = 'stop-replicator.sh' %}
{% set defaultReplicatorListenPort = '8083' %}
{% set defaultReplicatorConfigStorageTopic = 'replicator-configs' %}
{% set defaultReplicatorOffsetStorageTopic = 'replicator-offsets' %}
{% set defaultReplicatorStatusStorageTopic = 'replicator-statuses' %}
{# kafka-rest #}
{% set defaultKafkaRestStopScript = 'stop-kafka-rest.sh' %}
{% set defaultKafkaRestListenPort = '8082' %}
{# ksqldb #}
{% set defaultKsqlDbStopScript = 'stop-ksqldb.sh' %}
{% set defaultKsqlDbListenPort = '8088' %}
{# control-center #}
{% set defaultControlCenterStopScript = 'stop-control-center.sh' %}
{# ###################################################################### #}
---
base:
  user: {{ base.user }}
  group: {{ base.group }}
  confluentHome: {{ base.confluentHome }}
  javaHome: {{ base.javaHome }}
  propertiesDir: {{ base.propertiesDir }}
  scriptsDir: {{ base.scriptsDir }}


######################################################################


### zookeeper
{% include 'zookeeper-template.yaml.j2' %}

######################################################################


### kafka
{% include 'kafka-template.yaml.j2' %}

######################################################################


### schema-registry
{% include 'schema-registry-template.yaml.j2' %}

######################################################################


### kafka-connect
{% include 'kafka-connect-template.yaml.j2' %}

######################################################################


### replicator
{% include 'replicator-template.yaml.j2' %}

######################################################################


### kafka-rest
{% include 'kafka-rest-template.yaml.j2' %}

######################################################################


### ksqldb
{% include 'ksqldb-template.yaml.j2' %}

######################################################################


### control-center
{% include 'control-center-template.yaml.j2' %}
