{% if zookeeper %}
{% set component = zookeeper %}
zookeeper:
  common:
    {% set stopScript = component.common.stopScript if component.common.stopScript
        else defaultZookeeperStopScript %}
    stopScript: {{ stopScript }}
    param:
    {# dataDir #}
      dataDir: {{ component.common.param.dataDir }}
    {# logDir #}
      logDir: {{ component.common.param.logDir }}
    {# clientPort #}
      {% set clientPort = component.common.param.clientPort if component.common.param.clientPort
          else defaultZookeeperClientPort %}
      clientPort: {{ clientPort }}
    {# leaderPort #}
      {% set leaderPort = component.common.param.leaderPort if component.common.param.leaderPort
          else defaultZookeeperLeaderPort %}
      leaderPort: {{ leaderPort }}
    {# leaderElectionPort #}
      {% set leaderElectionPort = component.common.param.leaderElectionPort if component.common.param.leaderElectionPort
          else defaultZookeeperLeaderElectionPort %}
      leaderElectionPort: {{ leaderElectionPort }}
    {# zNode #}
      {% set zNode = component.common.param.zNode if component.common.param.zNode
          else defaultZookeeperZNode %}
      zNode: {{ zNode }}

  servers:
    {% for server in component.servers %}
    - serverName: {{ server.serverName }}
    {# hostName #}
      {% if server.hostName %}
      hostName: {{ server.hostName }}
      {% else %}
      hostName: {{ server.serverName }}
      {% endif %}
    {# hostAddress #}
      hostAddress: {{ server.hostAddress }}
    {# sshPort #}
      {% if server.sshPort %}
      sshPort: {{ server.sshPort }}
      {% else %}
      sshPort: {{ defaultSshPort }}
      {% endif %}
    {# serverId #}
      serverId: {{ server.serverId }}
      paramOverride:
      {# dataDir #}
        {% if server.paramOverride and server.paramOverride.dataDir %}
        dataDir: {{ server.paramOverride.dataDir }}
        {% else %}
        # dataDir:
        {% endif %}
      {# logDir #}
        {% if server.paramOverride and server.paramOverride.logDir %}
        logDir: {{ server.paramOverride.logDir }}
        {% else %}
        # logDir:
        {% endif %}
      {# clientPort #}
        {% if server.paramOverride and server.paramOverride.clientPort %}
        clientPort: {{ server.paramOverride.clientPort }}
        {% else %}
        # clientPort:
        {% endif %}
      {# leaderPort #}
        {% if server.paramOverride and server.paramOverride.leaderPort %}
        leaderPort: {{ server.paramOverride.leaderPort }}
        {% else %}
        # leaderPort:
        {% endif %}
      {# leaderElectionPort #}
        {% if server.paramOverride and server.paramOverride.leaderElectionPort %}
        leaderElectionPort: {{ server.paramOverride.leaderElectionPort }}
        {% else %}
        # leaderElectionPort:
        {% endif %}
    {% include 'file-template.yaml.j2' %}

    {% endfor %}
{% endif %}
