# nameOverride:
# fullnameOverride:

# postgresqlPostgresPassword:
postgresqlUsername: postgres
postgresqlPassword: "${PASSWORD}"

postgresqlDatabase: postgres
# postgresqlInitdbArgs:
# initdbScripts:
#   initdb_script.sql: |
# initdbScriptsConfigMap:
# initdbScriptsSecret:
# initdbUser:
# initdbPassword:

service:
  type: ClusterIP
  # type: LoadBalancer
  # clusterIP: None
  port: 5432
  # loadBalancerIP: 10.10.10.90

persistence:
  enabled: true
  storageClass: "standard"
  # storageClass: "rook-ceph-block"
  # storageClass: "openebs-jiva-default"
  # storageClass: "local-path"
  accessModes:
    - ReadWriteOnce
  size: 8Gi

resources:
  requests:
    memory: 256Mi
    cpu: 250m

metrics:
  enabled: true
  # resources: {}
  service:
    type: ClusterIP
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9187"
    # loadBalancerIP:
  serviceMonitor:
    enabled: true
    additionalLabels: {}
  prometheusRule:
    enabled: false
    additionalLabels: {}
